.git
.gitignore
.pytest_cache
.venv
__pycache__
*.py[cod]
*.egg-info

.env
backend/config
test/*.db
test/*.db-shm
test/*.db-wal
test/moderation_analysis
*.xdb

frontend/node_modules
frontend/dist
frontend/.vite
npm-debug.log*

legacy/go_backend
