#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding-top: 60px;
}

.striped-merry {
  background-image: linear-gradient(135deg,
      #769cd2 25%,
      #f79fb8 25%,
      #f79fb8 50%,
      #769cd2 50%,
      #769cd2 75%,
      #f79fb8 75%,
      #f79fb8 100%);
  background-size: 84.85px 84.85px;
}

.striped-umy {
  background-image: linear-gradient(45deg,
      #c42e30 25%,
      #504141 25%,
      #504141 50%,
      #c42e30 50%,
      #c42e30 75%,
      #504141 75%,
      #504141 100%);
  background-size: 84.85px 84.85px;
}

.texture-merry-light-grey {
  background: url(./assets/merry_light_grey.svg), #2c3e50;
}

.texture-merry-dark-blue {
  background: url(./assets/merry_dark_blue.svg);
}

.texture-umy-light-grey {
  background: url(./assets/umy_light_grey.svg), #3a1213;
}

.texture-umy-dark-blue {
  background: url(./assets/umy_dark_red.svg);
}